/*!
 * html5-device-mockups (https://github.com/pixelsign/html5-device-mockups)
 * Copyright 2013 - 2018 pixelsign
 * Licensed under MIT (https://github.com/pixelsign/html5-device-mockups/blob/master/LICENSE.txt)
 * Last Build: Thu Dec 20 2018 14:05:50
 */
.device-wrapper {
  /*max-width: 300px;*/
  width: 100%; }

.device {
  position: relative;
  background-size: cover; }
  .device::after {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .device .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto; }
  .device .button {
    position: absolute;
    cursor: pointer; }

/* .device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 198.89807163%;
  background-image: url(../device-mockups/iPhoneX/portrait.png);
  z-index: initial;
}
  .device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .screen {
    top: 3.254847645%;
    left: 7.162534435%;
    width: 85.67493113%;
    height: 93.49030471%;
    border: 0px;
    z-index: -1;
  }

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 50.27700831%;
  background-image: url(../device-mockups/iPhoneX/landscape.png);
  z-index: initial;
}
  .device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.162534435%;
    left: 3.254847645%;
    width: 93.49030471%;
    height: 85.67493113%;
    border: 0px;
    z-index: -1;
  } */

.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 194.717887155%; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"] .screen {
    top: 9.6794081381%;
    left: 6.6026410564%;
    width: 86.3145258103%;
    height: 78.914919852%; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS3/portrait_black.png);
    z-index: -1; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"] .button {
    top: 93.1565967941%;
    left: 38.6554621849%;
    width: 22.569027611%;
    height: 3.2675709001%; }

.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 194.717887155%; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"] .screen {
    top: 9.6794081381%;
    left: 6.6026410564%;
    width: 86.3145258103%;
    height: 78.914919852%; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS3/portrait_white.png);
    z-index: -1; }
  .device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"] .button {
    top: 93.1565967941%;
    left: 38.6554621849%;
    width: 22.569027611%;
    height: 3.2675709001%; }

.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 51.4180024661%; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.0743405276%;
    left: 9.3711467324%;
    width: 78.914919852%;
    height: 86.3309352518%; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS3/landscape_black.png);
    z-index: -1; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"] .button {
    top: 38.8489208633%;
    left: 93.3415536375%;
    width: 3.3908754624%;
    height: 22.5419664269%; }

.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 51.4180024661%; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"] .screen {
    top: 7.0743405276%;
    left: 9.3711467324%;
    width: 78.914919852%;
    height: 86.3309352518%; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS3/landscape_white.png);
    z-index: -1; }
  .device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"] .button {
    top: 38.8489208633%;
    left: 93.3415536375%;
    width: 3.3908754624%;
    height: 22.5419664269%; }

.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 193.983739837%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"] .screen {
    top: 9.8072087175%;
    left: 6.0975609756%;
    width: 87.8048780488%;
    height: 80.4694048617%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/portrait_black.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"] .button {
    top: 92.6236378877%;
    left: 38.9430894309%;
    width: 22.5203252033%;
    height: 3.7300922045%; }

.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 193.983739837%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"] .screen {
    top: 9.8072087175%;
    left: 6.0975609756%;
    width: 87.8048780488%;
    height: 80.4694048617%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/portrait_white.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"] .button {
    top: 92.6236378877%;
    left: 38.9430894309%;
    width: 22.5203252033%;
    height: 3.7300922045%; }

.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 193.983739837%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 9.8072087175%;
    left: 6.0975609756%;
    width: 87.8048780488%;
    height: 80.4694048617%; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/portrait_gold.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"] .button {
    top: 92.6236378877%;
    left: 38.9430894309%;
    width: 22.5203252033%;
    height: 3.7300922045%; }

.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 51.5507124895%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.0975609756%;
    left: 9.8072087175%;
    width: 80.4694048617%;
    height: 87.8048780488%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/landscape_black.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"] .button {
    top: 38.5365853659%;
    left: 92.6236378877%;
    width: 3.7300922045%;
    height: 22.5203252033%; }

.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 51.5507124895%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"] .screen {
    top: 6.0975609756%;
    left: 9.8072087175%;
    width: 80.4694048617%;
    height: 87.8048780488%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/landscape_white.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"] .button {
    top: 38.5365853659%;
    left: 92.6236378877%;
    width: 3.7300922045%;
    height: 22.5203252033%; }

.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 51.5507124895%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 6.0975609756%;
    left: 9.8072087175%;
    width: 80.4694048617%;
    height: 87.8048780488%; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyS5/landscape_gold.png);
    z-index: -1; }
  .device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"] .button {
    top: 38.5365853659%;
    left: 92.6236378877%;
    width: 3.7300922045%;
    height: 22.5203252033%; }

.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 168.336162988%; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"] .screen {
    top: 8.5728693898%;
    left: 5.6876061121%;
    width: 87.9456706282%;
    height: 83.0055471508%; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyTab4/portrait_black.png);
    z-index: -1; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 168.336162988%; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"] .screen {
    top: 8.5224407463%;
    left: 5.6876061121%;
    width: 87.9456706282%;
    height: 83.0559757943%; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/galaxyTab4/portrait_white.png);
    z-index: -1; }
  .device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="iMac"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 80.4666304938%; }
  .device[data-device="iMac"][data-orientation="portrait"][data-color="black"] .screen {
    top: 5.0573162508%;
    left: 4.0694519805%;
    width: 91.8610960391%;
    height: 64.194200944%; }
  .device[data-device="iMac"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iMac/portrait_black.png);
    z-index: -1; }
  .device[data-device="iMac"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="iPad"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 129.569892473%; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="black"] .screen {
    top: 9.1286307054%;
    left: 10.3046594982%;
    width: 79.2114695341%;
    height: 81.3969571231%; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPad/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="black"] .button {
    top: 93.153526971%;
    left: 47.1326164875%;
    width: 6.0035842294%;
    height: 4.4951590595%; }

.device[data-device="iPad"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 129.569892473%; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="white"] .screen {
    top: 9.1286307054%;
    left: 10.4838709677%;
    width: 79.3010752688%;
    height: 81.3969571231%; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPad/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPad"][data-orientation="portrait"][data-color="white"] .button {
    top: 93.153526971%;
    left: 47.1326164875%;
    width: 6.0035842294%;
    height: 4.4951590595%; }

.device[data-device="iPad"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 77.0401106501%; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="black"] .screen {
    top: 10.2333931777%;
    left: 9.2669432918%;
    width: 81.3278008299%;
    height: 79.4434470377%; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPad/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="black"] .button {
    top: 46.7684021544%;
    left: 93.2226832642%;
    width: 4.4260027663%;
    height: 6.0143626571%; }

.device[data-device="iPad"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 77.0401106501%; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="white"] .screen {
    top: 10.2333931777%;
    left: 9.2669432918%;
    width: 81.3278008299%;
    height: 79.4434470377%; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPad/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPad"][data-orientation="landscape"][data-color="white"] .button {
    top: 46.7684021544%;
    left: 93.2226832642%;
    width: 4.4260027663%;
    height: 6.0143626571%; }

.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 141.392978482%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"] .screen {
    top: 9.0909090909%;
    left: 6.4552661382%;
    width: 86.9762174405%;
    height: 82.0184221065%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"] .button {
    top: 93.5522627153%;
    left: 46.8289920725%;
    width: 6.2853907135%;
    height: 4.4453344013%; }

.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 141.392978482%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"] .screen {
    top: 9.0909090909%;
    left: 6.4552661382%;
    width: 86.9762174405%;
    height: 82.0184221065%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"] .button {
    top: 93.5522627153%;
    left: 46.8289920725%;
    width: 6.2853907135%;
    height: 4.4453344013%; }

.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 141.392978482%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 9.0909090909%;
    left: 6.4552661382%;
    width: 86.9762174405%;
    height: 82.0184221065%; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"] .button {
    top: 93.5522627153%;
    left: 46.8289920725%;
    width: 6.2853907135%;
    height: 4.4453344013%; }

.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 70.7248698438%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.5685164213%;
    left: 9.0909090909%;
    width: 82.0184221065%;
    height: 86.9762174405%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"] .button {
    top: 46.885617214%;
    left: 93.5522627153%;
    width: 4.4453344013%;
    height: 6.2853907135%; }

.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 70.7248698438%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"] .screen {
    top: 6.5685164213%;
    left: 9.0909090909%;
    width: 82.0184221065%;
    height: 86.9762174405%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"] .button {
    top: 46.885617214%;
    left: 93.5522627153%;
    width: 4.4453344013%;
    height: 6.2853907135%; }

.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 70.7248698438%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 6.5685164213%;
    left: 9.0909090909%;
    width: 82.0184221065%;
    height: 86.9762174405%; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPadAir2/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"] .button {
    top: 46.885617214%;
    left: 93.5522627153%;
    width: 4.4453344013%;
    height: 6.2853907135%; }

.device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 138.622493461%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.0440251572%;
    left: 5.3618134263%;
    width: 89.2327811683%;
    height: 85.9119496855%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"] .button {
    top: 94.9371069182%;
    left: 47.6024411508%;
    width: 4.8387096774%;
    height: 3.5220125786%; }

.device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 138.622493461%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"] .screen {
    top: 7.0440251572%;
    left: 5.3618134263%;
    width: 89.2327811683%;
    height: 85.9119496855%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"] .button {
    top: 94.9371069182%;
    left: 47.6024411508%;
    width: 4.8387096774%;
    height: 3.5220125786%; }

.device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 138.622493461%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 7.0754716981%;
    left: 5.3618134263%;
    width: 89.2327811683%;
    height: 85.8805031447%; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"] .button {
    top: 94.9371069182%;
    left: 47.6024411508%;
    width: 4.8387096774%;
    height: 3.5220125786%; }

.device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 72.1383647799%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"] .screen {
    top: 5.4054054054%;
    left: 7.0440251572%;
    width: 85.9119496855%;
    height: 89.2327811683%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"] .button {
    top: 47.5588491718%;
    left: 94.9371069182%;
    width: 3.5220125786%;
    height: 4.8387096774%; }

.device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 72.1383647799%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"] .screen {
    top: 5.4054054054%;
    left: 7.0440251572%;
    width: 85.9119496855%;
    height: 89.2327811683%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"] .button {
    top: 47.5588491718%;
    left: 94.9371069182%;
    width: 3.5220125786%;
    height: 4.8387096774%; }

.device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 72.1471235461%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 5.4030501089%;
    left: 7.0732474065%;
    width: 85.8849418422%;
    height: 89.2374727669%; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPadPro/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"] .button {
    top: 47.5381263617%;
    left: 94.9072618673%;
    width: 3.5523420308%;
    height: 4.8801742919%; }

.device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 207.620164127%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"] .screen {
    top: 12.2529644269%;
    left: 6.0961313013%;
    width: 88.0422039859%;
    height: 75.3246753247%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"] .button {
    top: 89.3280632411%;
    left: 41.8522860492%;
    width: 16.6471277843%;
    height: 8.0180688876%; }

.device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 207.620164127%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"] .screen {
    top: 12.2529644269%;
    left: 6.0961313013%;
    width: 88.0422039859%;
    height: 75.3246753247%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"] .button {
    top: 89.3280632411%;
    left: 41.8522860492%;
    width: 16.6471277843%;
    height: 8.0180688876%; }

.device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 207.620164127%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 12.2529644269%;
    left: 6.0961313013%;
    width: 88.0422039859%;
    height: 75.3246753247%; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"] .button {
    top: 89.3280632411%;
    left: 41.8522860492%;
    width: 16.6471277843%;
    height: 8.0180688876%; }

.device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 48.1648785997%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"] .screen {
    top: 5.8616647128%;
    left: 12.3094297007%;
    width: 75.2682100508%;
    height: 87.9249706917%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"] .button {
    top: 41.5005861665%;
    left: 89.3280632411%;
    width: 8.0180688876%;
    height: 16.6471277843%; }

.device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 48.1648785997%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"] .screen {
    top: 5.8616647128%;
    left: 12.3094297007%;
    width: 75.2682100508%;
    height: 87.9249706917%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"] .button {
    top: 41.5005861665%;
    left: 89.3280632411%;
    width: 8.0180688876%;
    height: 16.6471277843%; }

.device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 48.1648785997%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 5.8616647128%;
    left: 12.3094297007%;
    width: 75.2682100508%;
    height: 87.9249706917%; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"] .button {
    top: 41.5005861665%;
    left: 89.3280632411%;
    width: 8.0180688876%;
    height: 16.6471277843%; }

.device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 201.451612903%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="black"] .screen {
    top: 11.4891913531%;
    left: 6.5322580645%;
    width: 87.0967741935%;
    height: 76.8614891914%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="black"] .button {
    top: 90.4323458767%;
    left: 43.3064516129%;
    width: 13.3870967742%;
    height: 6.645316253%; }

.device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 201.451612903%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="white"] .screen {
    top: 11.4891913531%;
    left: 6.5322580645%;
    width: 87.0967741935%;
    height: 76.8614891914%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="white"] .button {
    top: 90.4323458767%;
    left: 43.3064516129%;
    width: 13.3870967742%;
    height: 6.645316253%; }

.device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 201.451612903%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 11.4891913531%;
    left: 6.5322580645%;
    width: 87.0967741935%;
    height: 76.8614891914%; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="portrait"][data-color="gold"] .button {
    top: 90.4323458767%;
    left: 43.3064516129%;
    width: 13.3870967742%;
    height: 6.645316253%; }

.device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 49.6397117694%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.3709677419%;
    left: 11.4891913531%;
    width: 76.8614891914%;
    height: 87.0967741935%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="black"] .button {
    top: 43.3064516129%;
    left: 90.4323458767%;
    width: 6.645316253%;
    height: 13.3870967742%; }

.device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 49.6397117694%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="white"] .screen {
    top: 6.3709677419%;
    left: 11.4891913531%;
    width: 76.8614891914%;
    height: 87.0967741935%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="white"] .button {
    top: 43.3064516129%;
    left: 90.4323458767%;
    width: 6.645316253%;
    height: 13.3870967742%; }

.device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 49.6397117694%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 6.3709677419%;
    left: 11.4891913531%;
    width: 76.8614891914%;
    height: 87.0967741935%; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Plus/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPhone6Plus"][data-orientation="landscape"][data-color="gold"] .button {
    top: 43.3064516129%;
    left: 90.4323458767%;
    width: 6.645316253%;
    height: 13.3870967742%; }

.device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 209.829619921%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="black"] .screen {
    top: 14.80324797%;
    left: 8.5190039318%;
    width: 83.879423329%;
    height: 70.9556527171%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="black"] .button {
    top: 88.5071830106%;
    left: 41.6775884666%;
    width: 17.6933158585%;
    height: 8.4322298563%; }

.device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 209.829619921%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="white"] .screen {
    top: 14.80324797%;
    left: 8.5190039318%;
    width: 83.879423329%;
    height: 70.9556527171%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="white"] .button {
    top: 88.5071830106%;
    left: 41.6775884666%;
    width: 17.6933158585%;
    height: 8.4322298563%; }

.device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 209.829619921%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 14.80324797%;
    left: 8.5190039318%;
    width: 83.879423329%;
    height: 70.9556527171%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="gold"] .button {
    top: 88.5071830106%;
    left: 41.6775884666%;
    width: 17.6933158585%;
    height: 8.4322298563%; }

.device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="pink"] {
  padding-bottom: 209.829619921%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="pink"] .screen {
    top: 14.80324797%;
    left: 8.5190039318%;
    width: 83.879423329%;
    height: 70.9556527171%; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="pink"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/portrait_pink.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="portrait"][data-color="pink"] .button {
    top: 88.5071830106%;
    left: 41.6775884666%;
    width: 17.6933158585%;
    height: 8.4322298563%; }

.device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 47.6577139288%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.6015727392%;
    left: 14.80324797%;
    width: 70.9556527171%;
    height: 83.879423329%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="black"] .button {
    top: 40.629095675%;
    left: 88.5071830106%;
    width: 8.4322298563%;
    height: 17.6933158585%; }

.device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 47.6577139288%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="white"] .screen {
    top: 7.6015727392%;
    left: 14.80324797%;
    width: 70.9556527171%;
    height: 83.879423329%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="white"] .button {
    top: 40.629095675%;
    left: 88.5071830106%;
    width: 8.4322298563%;
    height: 17.6933158585%; }

.device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 47.6577139288%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 7.6015727392%;
    left: 14.80324797%;
    width: 70.9556527171%;
    height: 83.879423329%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="gold"] .button {
    top: 40.629095675%;
    left: 88.5071830106%;
    width: 8.4322298563%;
    height: 17.6933158585%; }

.device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="pink"] {
  padding-bottom: 47.6577139288%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="pink"] .screen {
    top: 7.6015727392%;
    left: 14.80324797%;
    width: 70.9556527171%;
    height: 83.879423329%; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="pink"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneSE/landscape_pink.png);
    z-index: -1; }
  .device[data-device="iPhoneSE"][data-orientation="landscape"][data-color="pink"] .button {
    top: 40.629095675%;
    left: 88.5071830106%;
    width: 8.4322298563%;
    height: 17.6933158585%; }

.device[data-device="iPhone5"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 209.461235217%; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="black"] .screen {
    top: 14.8055207026%;
    left: 8.2785808147%;
    width: 84.2312746386%;
    height: 71.2672521957%; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone5/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="black"] .button {
    top: 88.5194479297%;
    left: 41.5243101183%;
    width: 18.0026281209%;
    height: 8.5947302384%; }

.device[data-device="iPhone5"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 209.461235217%; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="white"] .screen {
    top: 14.8055207026%;
    left: 8.2785808147%;
    width: 84.2312746386%;
    height: 71.2672521957%; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone5/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhone5"][data-orientation="portrait"][data-color="white"] .button {
    top: 88.5194479297%;
    left: 41.5243101183%;
    width: 18.0026281209%;
    height: 8.5947302384%; }

.device[data-device="iPhone5"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 47.7415307403%; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.4901445466%;
    left: 14.8055207026%;
    width: 71.2672521957%;
    height: 84.2312746386%; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone5/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="black"] .button {
    top: 40.4730617608%;
    left: 88.5194479297%;
    width: 8.5947302384%;
    height: 18.0026281209%; }

.device[data-device="iPhone5"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 47.7415307403%; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="white"] .screen {
    top: 7.4901445466%;
    left: 14.8055207026%;
    width: 71.2672521957%;
    height: 84.2312746386%; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone5/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPhone5"][data-orientation="landscape"][data-color="white"] .button {
    top: 40.4730617608%;
    left: 88.5194479297%;
    width: 8.5947302384%;
    height: 18.0026281209%; }

.device[data-device="Lumia930"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 192.312879299%; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.1178120617%;
    left: 5.5293324343%;
    width: 87.862440998%;
    height: 81.1360448808%; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Lumia930/portrait_black.png);
    z-index: -1; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Lumia930"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 192.312879299%; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="white"] .screen {
    top: 7.1178120617%;
    left: 5.5293324343%;
    width: 87.862440998%;
    height: 81.1360448808%; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/Lumia930/portrait_white.png);
    z-index: -1; }
  .device[data-device="Lumia930"][data-orientation="portrait"][data-color="white"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Lumia930"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 51.9985974755%; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.6082265678%;
    left: 7.1178120617%;
    width: 81.1360448808%;
    height: 87.862440998%; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Lumia930/landscape_black.png);
    z-index: -1; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Lumia930"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 51.9985974755%; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="white"] .screen {
    top: 6.6082265678%;
    left: 7.1178120617%;
    width: 81.1360448808%;
    height: 87.862440998%; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/Lumia930/landscape_white.png);
    z-index: -1; }
  .device[data-device="Lumia930"][data-orientation="landscape"][data-color="white"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.2595281307%;
    left: 12.369519833%;
    width: 75.260960334%;
    height: 81.8511796733%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook/portrait_black.png);
    z-index: -1; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="white"] .screen {
    top: 7.2595281307%;
    left: 12.369519833%;
    width: 75.260960334%;
    height: 81.8511796733%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook/portrait_white.png);
    z-index: -1; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="white"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 7.2595281307%;
    left: 12.369519833%;
    width: 75.260960334%;
    height: 81.8511796733%; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook/portrait_gold.png);
    z-index: -1; }
  .device[data-device="Macbook"][data-orientation="portrait"][data-color="gold"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook2015"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.3502722323%;
    left: 12.4217118998%;
    width: 75.1565762004%;
    height: 81.7604355717%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook2015/portrait_black.png);
    z-index: -1; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook2015"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="white"] .screen {
    top: 7.3502722323%;
    left: 12.4217118998%;
    width: 75.1565762004%;
    height: 81.7604355717%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook2015/portrait_white.png);
    z-index: -1; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="white"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Macbook2015"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 57.51565762%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 7.3502722323%;
    left: 12.4217118998%;
    width: 75.1565762004%;
    height: 81.7604355717%; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/Macbook2015/portrait_gold.png);
    z-index: -1; }
  .device[data-device="Macbook2015"][data-orientation="portrait"][data-color="gold"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="MacbookPro"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 57.9470198675%; }
  .device[data-device="MacbookPro"][data-orientation="portrait"][data-color="black"] .screen {
    top: 6.7142857143%;
    left: 11.8377483444%;
    width: 76.4072847682%;
    height: 82.4285714286%; }
  .device[data-device="MacbookPro"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/MacbookPro/portrait_black.png);
    z-index: -1; }
  .device[data-device="MacbookPro"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="SamsungTV"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 64.678030303%; }
  .device[data-device="SamsungTV"][data-orientation="portrait"][data-color="black"] .screen {
    top: 2.196193265%;
    left: 1.3257575758%;
    width: 97.2537878788%;
    height: 85.2122986823%; }
  .device[data-device="SamsungTV"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/SamsungTV/portrait_black.png);
    z-index: -1; }
  .device[data-device="SamsungTV"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="Surface"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 62.3812539582%; }
  .device[data-device="Surface"][data-orientation="portrait"][data-color="black"] .screen {
    top: 11.0659898477%;
    left: 6.7764407853%;
    width: 86.3837872071%;
    height: 77.7664974619%; }
  .device[data-device="Surface"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Surface/portrait_black.png);
    z-index: -1; }
  .device[data-device="Surface"][data-orientation="portrait"][data-color="black"] .button {
    top: 92.1827411168%;
    left: 48.8917036099%;
    width: 2.3432552248%;
    height: 3.654822335%; }

.device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 89.1178364456%; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="black"] .screen {
    top: 10.838150289%;
    left: 10.9465550547%;
    width: 33.6767546684%;
    height: 67.2687861272%; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Hand/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="black"] .button {
    top: 79.6965317919%;
    left: 24.790727624%;
    width: 5.9884095299%;
    height: 6.7919075145%; }

.device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 89.1178364456%; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="white"] .screen {
    top: 10.838150289%;
    left: 11.0753380554%;
    width: 33.5479716677%;
    height: 67.2687861272%; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone6Hand/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhone6Hand"][data-orientation="portrait"][data-color="white"] .button {
    top: 79.6965317919%;
    left: 24.790727624%;
    width: 5.9884095299%;
    height: 6.7919075145%; }

.device[data-device="iPhone7Hand"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 158.392434988%; }
  .device[data-device="iPhone7Hand"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.8358208955%;
    left: 41.2529550827%;
    width: 42.1985815603%;
    height: 47.2388059701%; }
  .device[data-device="iPhone7Hand"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7Hand/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone7Hand"][data-orientation="portrait"][data-color="black"] .button {
    top: 56.1940298507%;
    left: 58.3924349882%;
    width: 7.8014184397%;
    height: 4.9253731343%; }

.device[data-device="iPhone7Hand_2"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 158.392434988%; }
  .device[data-device="iPhone7Hand_2"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.8358208955%;
    left: 41.2529550827%;
    width: 42.1985815603%;
    height: 47.2388059701%; }
  .device[data-device="iPhone7Hand_2"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7Hand_2/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone7Hand_2"][data-orientation="portrait"][data-color="black"] .button {
    top: 56.1940298507%;
    left: 58.3924349882%;
    width: 7.8014184397%;
    height: 4.9253731343%; }

.device[data-device="Chromebook"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 58.9736399327%; }
  .device[data-device="Chromebook"][data-orientation="portrait"][data-color="black"] .screen {
    top: 7.8934854969%;
    left: 12.7313516545%;
    width: 74.1446999439%;
    height: 71.2791250594%; }
  .device[data-device="Chromebook"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Chromebook/portrait_black.png);
    z-index: -1; }
  .device[data-device="Chromebook"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="HtcOneM8"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 209.0625%; }
  .device[data-device="HtcOneM8"][data-orientation="portrait"][data-color="black"] .screen {
    top: 10.7623318386%;
    left: 5.3125%;
    width: 89.0625%;
    height: 75.6352765321%; }
  .device[data-device="HtcOneM8"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/HtcOneM8/portrait_black.png);
    z-index: -1; }
  .device[data-device="HtcOneM8"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="HtcOneM8"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 47.8325859492%; }
  .device[data-device="HtcOneM8"][data-orientation="landscape"][data-color="black"] .screen {
    top: 5.625%;
    left: 10.7623318386%;
    width: 75.6352765321%;
    height: 89.0625%; }
  .device[data-device="HtcOneM8"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/HtcOneM8/landscape_black.png);
    z-index: -1; }
  .device[data-device="HtcOneM8"][data-orientation="landscape"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="HuaweiP8"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 209.740840036%; }
  .device[data-device="HuaweiP8"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 9.1180230081%;
    left: 1.6979445934%;
    width: 95.8891867739%;
    height: 81.806561568%; }
  .device[data-device="HuaweiP8"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/HuaweiP8/portrait_gold.png);
    z-index: -1; }
  .device[data-device="HuaweiP8"][data-orientation="portrait"][data-color="gold"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="HuaweiP8"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 47.6778866638%; }
  .device[data-device="HuaweiP8"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 2.4128686327%;
    left: 9.1180230081%;
    width: 81.806561568%;
    height: 95.8891867739%; }
  .device[data-device="HuaweiP8"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/HuaweiP8/landscape_gold.png);
    z-index: -1; }
  .device[data-device="HuaweiP8"][data-orientation="landscape"][data-color="gold"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="SurfacePro3"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 68.1579674123%; }
  .device[data-device="SurfacePro3"][data-orientation="landscape"][data-color="black"] .screen {
    top: 7.0907617504%;
    left: 5.8271195802%;
    width: 88.3457608395%;
    height: 86.4262560778%; }
  .device[data-device="SurfacePro3"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/SurfacePro3/landscape_black.png);
    z-index: -1; }
  .device[data-device="SurfacePro3"][data-orientation="landscape"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="SurfaceStudio"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 86.4803625378%; }
  .device[data-device="SurfaceStudio"][data-orientation="portrait"][data-color="black"] .screen {
    top: 3.7554585153%;
    left: 3.2225579053%;
    width: 93.5297079557%;
    height: 72.4017467249%; }
  .device[data-device="SurfaceStudio"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/SurfaceStudio/portrait_black.png);
    z-index: -1; }
  .device[data-device="SurfaceStudio"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 203.103448276%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"] .screen {
    top: 11.9977362762%;
    left: 6.2068965517%;
    width: 87.3563218391%;
    height: 76.0611205433%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/portrait_black.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="black"] .button {
    top: 89.5302773062%;
    left: 42.2988505747%;
    width: 15.7471264368%;
    height: 7.753254103%; }

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 203.103448276%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="white"] .screen {
    top: 11.9977362762%;
    left: 6.2068965517%;
    width: 87.3563218391%;
    height: 76.0611205433%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/portrait_white.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="white"] .button {
    top: 89.5302773062%;
    left: 42.2988505747%;
    width: 15.7471264368%;
    height: 7.753254103%; }

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 203.103448276%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="gold"] .screen {
    top: 11.9977362762%;
    left: 6.2068965517%;
    width: 87.3563218391%;
    height: 76.0611205433%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/portrait_gold.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="gold"] .button {
    top: 89.5302773062%;
    left: 42.2988505747%;
    width: 15.7471264368%;
    height: 7.753254103%; }

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="pink"] {
  padding-bottom: 203.103448276%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="pink"] .screen {
    top: 11.9977362762%;
    left: 6.2068965517%;
    width: 87.3563218391%;
    height: 76.0611205433%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="pink"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/portrait_pink.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="pink"] .button {
    top: 89.5302773062%;
    left: 42.2988505747%;
    width: 15.7471264368%;
    height: 7.753254103%; }

.device[data-device="iPhone7"][data-orientation="portrait"][data-color="red"] {
  padding-bottom: 201.910828025%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="red"] .screen {
    top: 11.9873817035%;
    left: 6.6878980892%;
    width: 84.7133757962%;
    height: 75.5520504732%; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="red"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/portrait_red.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="portrait"][data-color="red"] .button {
    top: 89.7476340694%;
    left: 42.3566878981%;
    width: 15.6050955414%;
    height: 7.7287066246%; }

.device[data-device="iPhone7"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 49.2359932088%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.4367816092%;
    left: 11.9977362762%;
    width: 76.0611205433%;
    height: 87.3563218391%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/landscape_black.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="black"] .button {
    top: 41.9540229885%;
    left: 89.5302773062%;
    width: 7.753254103%;
    height: 15.7471264368%; }

.device[data-device="iPhone7"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 49.2359932088%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="white"] .screen {
    top: 6.4367816092%;
    left: 11.9977362762%;
    width: 76.0611205433%;
    height: 87.3563218391%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/landscape_white.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="white"] .button {
    top: 41.9540229885%;
    left: 89.5302773062%;
    width: 7.753254103%;
    height: 15.7471264368%; }

.device[data-device="iPhone7"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 49.2359932088%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="gold"] .screen {
    top: 6.4367816092%;
    left: 11.9977362762%;
    width: 76.0611205433%;
    height: 87.3563218391%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="gold"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/landscape_gold.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="gold"] .button {
    top: 41.9540229885%;
    left: 89.5302773062%;
    width: 7.753254103%;
    height: 15.7471264368%; }

.device[data-device="iPhone7"][data-orientation="landscape"][data-color="pink"] {
  padding-bottom: 49.2359932088%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="pink"] .screen {
    top: 6.4367816092%;
    left: 11.9977362762%;
    width: 76.0611205433%;
    height: 87.3563218391%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="pink"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/landscape_pink.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="pink"] .button {
    top: 41.9540229885%;
    left: 89.5302773062%;
    width: 7.753254103%;
    height: 15.7471264368%; }

.device[data-device="iPhone7"][data-orientation="landscape"][data-color="red"] {
  padding-bottom: 49.5268138801%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="red"] .screen {
    top: 8.5987261146%;
    left: 11.9873817035%;
    width: 75.5520504732%;
    height: 84.7133757962%; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="red"]::after {
    content: '';
    background-image: url(../device-mockups/iPhone7/landscape_red.png);
    z-index: -1; }
  .device[data-device="iPhone7"][data-orientation="landscape"][data-color="red"] .button {
    top: 42.0382165605%;
    left: 89.7476340694%;
    width: 7.7287066246%;
    height: 15.6050955414%; }
/*
.device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 198.898071625%; }
  .device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .screen {
    top: 3.1855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%; }
  .device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneX/portrait_black.png); }
  .device[data-device="iPhoneX"][data-orientation="portrait"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }

.device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 50.2770083102%; }
  .device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .screen {
    top: 6.3360881543%;
    left: 3.4626038781%;
    width: 93.0747922438%;
    height: 87.3278236915%; }
  .device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/iPhoneX/landscape_black.png); }
  .device[data-device="iPhoneX"][data-orientation="landscape"][data-color="black"] .button {
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; } */

.device[data-device="Pixel"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 202.620087336%; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="white"] .screen {
    top: 9.6982758621%;
    left: 4.3668122271%;
    width: 90.3930131004%;
    height: 78.6637931034%; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="white"]::after {
    content: '';
    background-image: url(../device-mockups/Pixel/portrait_white.png);
    z-index: -1; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="white"] .button {
    top: 90.5172413793%;
    left: 44.9781659389%;
    width: 11.3537117904%;
    height: 4.3103448276%; }

.device[data-device="Pixel"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 202.620087336%; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="black"] .screen {
    top: 9.6982758621%;
    left: 4.3668122271%;
    width: 90.3930131004%;
    height: 78.6637931034%; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="black"]::after {
    content: '';
    background-image: url(../device-mockups/Pixel/portrait_black.png);
    z-index: -1; }
  .device[data-device="Pixel"][data-orientation="portrait"][data-color="black"] .button {
    top: 90.5172413793%;
    left: 44.9781659389%;
    width: 11.3537117904%;
    height: 4.3103448276%; }
