.device{
    width:10%;
}
.device-to{
    padding-left: 20%;
}
.device-too{
    padding-left: 2px;
}
.contact{
    width: 100%;
}
.contact1{
    width: 100%;
}
.content_bawah{
    padding-left: 15%;
    padding-right: 10%;
}
.gambar-slide {max-width: 450px; max-height: 393px; overflow: hidden;}
@media only screen and (max-width: 480px) {
.gambar-slide {max-width: 100%;max-height: 100%;}
}
button.next, button.prev {
border: none;
padding: 5px 20px;
text-align: center;
margin: 5px 0px;
background: #e6e6e6;
color: #555;
float: right;
text-decoration-color: black;
}